$primary: #8B4513 !default;
$secondary: #D2B48C !default;
$success: #CD853F !default;
$info: #8FBC8F !default;
$warning: #F4A460 !default;
$danger: #B22222 !default;
$light: #FAF9F6 !default;
$dark: #3E2723 !default;

@import "~bootstrap/scss/bootstrap";
